<div class="card-img">
  <a href="#" [routerLink]="['/detail', card['slug']]">
    <img src="{{card['thumbnail']}}"></a>
</div>
<div class="card-body">
  <h5 class="card-title {{card['category'].slug}}"><a herf="#" [routerLink]="['/detail', card['slug']]">{{card['name']}}</a></h5>
  <div class="card-price {{card['category'].slug}}">
    <span class="current-price" *ngIf="card['price']; else elsePrice">{{card['price']}} ₫</span>
    <ng-template #elsePrice><button type="button" class="btn btn-contact ml-auto mr-auto">Liên hệ</button></ng-template>
    <div class="original-price" *ngIf="card['discount_price']"><s>{{card['discount_price']}} ₫</s></div>
  </div>
</div>



