<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="/images/logo" alt="">
    <h2>Phương thức thanh toán</h2>
  </div>
  <div class="row">
    <div class="col-md-5 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Giỏ hàng</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let item of cart">
          <div>
            <h6 class="my-0">{{item['name']}}<span
              class="badge badge-secondary badge-pill">{{item['number_product']}}</span></h6>
          </div>
          <span class="text-muted">{{item['number_product'] * item['price']}} ₫</span>
        </li>

        <li class="list-group-item d-flex justify-content-between">
          <span><small class="text-muted">Phí ship</small></span>
          <strong><small class="text-muted">{{delivery_money}} ₫</small></strong>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Tổng tiền</span>
          <strong><small class="text-muted">VND</small>  {{totalPrice(cart)}} ₫</strong>
        </li>
      </ul>
    </div>
    <div class="col-md-7 order-md-1">
      <h4 class="mb-3">Thông tin thanh toán</h4>
      <form class="needs-validation" [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <input type="text" class="form-control" [formControl]="checkoutForm.controls['name']"
                   placeholder="Họ và tên" value="" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Họ và tên không được để trống.</div>
            </div>
          </div>
        </div>
        <div class="mb-3 mt-3">
          <div class="row">
            <div class="col-12 col-lg-8 mb-3">
              <input type="email" class="form-control" placeholder="Email" [formControl]="checkoutForm.controls['email']" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email không được để trống.</div>
                <div *ngIf="f.email.errors.email">Email không đúng.</div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <input type="text" class="form-control" placeholder="Số điện thoại" [formControl]="checkoutForm.controls['phone']" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
              <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                <div *ngIf="f.phone.errors.required">Số điện thoại không được để trống.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <input type="text" class="form-control" placeholder="Địa chỉ" [formControl]="checkoutForm.controls['address']" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
          <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
            <div *ngIf="f.address.errors.required">Địa chỉ không được để trống.</div>
          </div>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Phương thức thanh toán</h4>

        <div class="d-block my-3">
          <div class="custom-control custom-radio">
            <input id="cod" name="paymentmethod" type="radio" class="custom-control-input" [formControl]="checkoutForm.controls['paymentmethod']" value="cod">
            <label class="custom-control-label" for="cod">Thanh toán khi giao hàng (COD)</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="payment" name="paymentmethod" type="radio" class="custom-control-input" [formControl]="checkoutForm.controls['paymentmethod']" value="payment">
            <label class="custom-control-label" for="payment"> Chuyển khoản qua ngân hàng</label>
          </div>
        </div>
        <hr class="mb-4">
        <div class="justify-content-center d-flex">
          <button class="btn btn-outline-primary mx-2">Giỏ hàng</button>
          <button class="btn btn-primary mx-2" type="submit">Đặt hàng</button>
        </div>

      </form>
    </div>
  </div>
</div>
