<div class="section-breadcrumb">
  <div class="container">
    <div class="content">
      <h2 class="breadcrumb-title">
        GIỎ HÀNG CỦA BẠN
      </h2>
      <div class="breadcrumb-small">
        <a href="#">Trang chủ</a>
        <span>/</span>
        <a href="#">Giỏ hàng của bạn</a>
      </div>
    </div>
  </div>
</div>
<section class="section section-cart">
  <div class="container">
    <div class="block-title">
      <h3 class="block-text">GIỎ HÀNG</h3>
    </div>
    <div class="block-cart">
      <div class="cart-wrap cart-desktop">
        <div class="cart-header">
          <div class="row">
            <div class="col-6">
              Thông tin sản phẩm
            </div>
            <div class="col-2">
              Đơn giá
            </div>
            <div class="col-2">
              Số lượng
            </div>
            <div class="col-2">
              Tổng giá
            </div>
          </div>
        </div>
        <div class="cart-content">
          <div class="list-cart">
            <div class="row item-cart"
                 *ngFor="let item of cart; let i=index;">
              <div class="col-6">
                <div class="cart-info">
                  <div class="cart-img">
                    <a href="#"><img src="{{item['thumbnails']}}" alt=""></a>
                  </div>
                  <div class="cart-body">
                    <h3 class="cart-title"><a href="#">{{item['name']}}</a>
                    </h3>
                    <div class="btn-delete">
                      <button type="button" class="btn btn-outline-primary" (click)="deleteCart(i)">Xoá</button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-2">
                {{item['price']}} ₫
              </div>
              <div class="col-2">
                <div class="cart-quantity">
                  <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-number" (click)="removeNumberProduct(i, item['number_product'])"
                                                data-type="minus" data-field="">
                                          <i class="fas fa-minus"></i>
                                        </button>
                                    </span>
                    <input type="text" name="quantity" class="form-control input-number quantity"
                           value="{{item['number_product']}}"
                           min="1" max="100">
                    <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-number"
                                                (click)="addNumberProduct(i, item['number_product'])"
                                                data-type="plus" data-field="">
                                           <i class="fas fa-plus"></i>
                                        </button>
                                    </span>
                  </div>
                </div>
              </div>
              <div class="col-2">
                {{item['number_product'] * item['price']}} ₫
              </div>
            </div>
          </div>
        </div>
        <div class="cart-footer">
          <div class="footer-info">
            <span>Tổng tiền:</span> <span class="footer-price">{{totalPrice(cart)}} ₫</span>
          </div>
          <div class="footer-submit">
            <button class="btn mx-2 btn-primary">Cập nhật</button>
            <button class="btn mx-2 btn-primary" [routerLink]="['/checkouts']">ĐẶT HÀNG</button>
          </div>
        </div>
      </div>
      <div class="cart-wrap cart-mobile">
        <div class="cart-header">

        </div>
        <div class="cart-content">
          <div class="list-cart">
            <div class="item-cart">
              <div class="media">
                <div class="media-img">
                  <a href="#">
                    <img src="/assets/latn/dummy/product/1.png" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h5 class="media-title">Bộ tưới nhỏ giọt cho ban công không nguồn nước Aqua Magic 8063 - Hàng Ý</h5>
                  <div class="media-quantity">
                    <div class="input-group">
                                    <span class="input-group-btn">
                                        <button type="button" class="quantity-left-minus btn btn-number"
                                                data-type="minus" data-field="">
                                          <i class="fas fa-minus"></i>
                                        </button>
                                    </span>
                      <input type="text" name="quantity" class="form-control input-number quantity"
                             value="10"
                             min="1" max="100">
                      <span class="input-group-btn">
                                        <button type="button" class="quantity-right-plus btn btn-number"
                                                data-type="plus" data-field="">
                                           <i class="fas fa-plus"></i>
                                        </button>
                                    </span>
                    </div>
                  </div>
                  <div class="media-price">
                    <span>2,950,000 ₫</span>
                  </div>
                  <div class="media-delete">
                    <button class="btn btn-outline-primary">Xoá</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-footer">
          <div class="footer-info">
            <span>Tổng tiền:</span> <span class="footer-price">12,740,000</span>
          </div>
          <div class="footer-submit">
            <button class="btn mx-2 btn-primary">Cập nhật</button>
            <button class="btn mx-2 btn-primary">Thanh toán</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
