<div class="section section-slider">
  <div class="slider-wrap">
    <div class="slider-list">
      <div class="slider-item" *ngFor="let banner of banners">
        <app-banner [banner]="banner"></app-banner>
      </div>
    </div>
  </div>
</div>
<div class="section section-about">
  <div class="container">
    <div class="about-wrap">
      <div class="about-aside">
        <img class="lazy" data-src="/assets/latn/images/banners/banner-5.jpg" alt="">
      </div>
      <div class="about-content">
        <div class="info">
          <div class="info-wrap">
            <h3 class="info-title">
              CHÀO MỪNG BẠN ĐẾN VỚI CÔNG TY ĐẠI VƯƠNG
            </h3>
            <div class="info-content">
              <p>Công ty TNHH Đại Vương là nơi tập hợp nguồn nhân lực có chuyên môn cao, có tâm huyết với nghề,
                có trách nhiệm với xã hội; hầu hết là các nhà giáo có uy tín trong lĩnh vực giáo dục đại học và cao
                đẳng chuyên nghiệp. Công ty TNHH Đại Vương tập trung chủ yếu vào các lĩnh vực hoạt động sau đây:</p>
              <ul>
                <li class="red"><span>Dịch vụ kỹ thuật:</span> Nghiên cứu, tư vấn, thiết kế, thi công các
                  công trình điện, điện tử, viễn thông, công nghệ thông tin và tự động hóa
                </li>
                <li class="orange"><span>Dịch vụ sức khỏe:</span> Tư vấn, thiết kế, cung cấp, bảo trì, sửa
                  chữa các thiết bị phòng tập thể dục;
                </li>
                <li class="blue"><span>Dịch vụ đào tạo:</span> Đào tạo, đào tạo lại, đào tạo chuyên sâu và
                  cung ứng nguồn nhân lực theo yêu cầu vị trí việc làm.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-products section-tech">
  <div class="container">
    <div class="box-header">
      <h2 class="box-title">Dịch vụ kỹ thuật</h2>
      <p class="box-desc">Nghiên cứu, tư vấn, thiết kế, thi công các công trình điện, điện tử, viễn thông, công nghệ
        thông tin và tự động hóa... <a [routerLink]="['category','dich-vu-ky-thuat']" style="color: red">Xem tất cả</a></p>
    </div>
    <div class="box-content">
      <div class="product-top product-list">
        <div class="product-item" *ngFor="let techProduct of techProducts">
          <app-card class="card" [card]="techProduct"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-products section-head">
  <div class="container">
    <div class="box-header">
      <h2 class="box-title">Dịch vụ sức khoẻ</h2>
      <p class="box-desc">Nhà phân phối sản phẩm máy tập thể dục của các hãng nổi tiếng như BH Fitness, Advantek, Kaesun, Impetus... <a [routerLink]="['category','dich-vu-suc-khoe']">Xem tất cả</a></p>
    </div>
    <div class="box-content">
      <div class="product-featured product-list">
        <div class="product-item" *ngFor="let healthProduct of healthProducts">
          <app-card class="card" [card]="healthProduct"></app-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section section-products section-edu">
  <div class="container">
    <div class="box-header">
      <h2 class="box-title">Dịch vụ đào tạo</h2>
      <p class="box-desc">Nhà phân phối sản phẩm máy tập thể dục của các hãng nổi tiếng như BH Fitness, Advantek, Kaesun, Impetus... <a [routerLink]="['category','dich-vu-dao-tao']" style="color: #ff8c00">Xem tất cả</a></p>
    </div>
    <div class="box-content">
      <div class="product-featured product-list">
        <div class="product-item" *ngFor="let eduProduct of eduProducts">
          <app-card class="card" [card]="eduProduct"></app-card>
        </div>
       </div>
    </div>
  </div>
</div>
<div class="section section-core-value" style="background-image: url('/assets/latn/images/banners/img_bg_top_prd.webp')">
  <div class="core-value">
    <div class="core-value-content">
      <h3 class="core-value-title">
        TẠI SAO NÊN CHỌN CHÚNG TÔI
      </h3>
      <ul class="core-value-list">
        <li>
          <i class="far fa-user"></i>
          <span>Có kinh nghiệm 5 năm thiết kế giải pháp tưới cây tự động</span>
        </li>
        <li>
          <i class="far fa-user"></i>
          <span>Phục vụ hơn 2.000 khách hàng mỗi năm</span>
        </li>
        <li>
          <i class="far fa-user"></i>
          <span>Đội ngũ nhân viên giàu kinh nghiệm</span>
        </li>
        <li>
          <i class="far fa-user"></i>
          <span>Tư vấn và hỗ trợ tận tình</span>
        </li>
        <li>
          <i class="far fa-user"></i>
          <span>Sản phẩm cao cấp, được nhập khẩu từ Israel, Mỹ và Châu Âu…</span>
        </li>
        <li>
          <i class="far fa-user"></i>
          <span>Dịch vụ khảo sát và báo giá hoàn toàn miễn phí</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="section-review section-products">
  <div class="container">
    <div class="box-header">
      <h2 class="box-title">NHẬN XÉT CỦA KHÁCH HÀNG</h2>
    </div>
    <div class="box-content">
      <div class="review-slider-list">
        <div class="review-slider-item">
          <div class="info-wrap">
            <div class="info-avatar">
              <img data-src="/assets/latn/images/customer/khach-01_e9c37b79a11140d593b70e9be3283de4_769f21af0f274bb9bfc54e910d018a99_compact.webp"
                   class="card-img lazy"
                   alt="">
            </div>
            <div class="info-content">
              <div class="info-title">
                Anh Mr. Thư
              </div>
              <div class="info-desc">
                Từ ngày lắp hệ thống tưới tự động của Maka thì khu vườn của mình trở nên xanh tươi hơn nhờ cây được
                tưới nước đầy đủ mỗi ngày. Mình không cần phải mất thời gian tưới mà cây trong vườn vẫn phát triển
                bình thường. Cảm ơn Maka rất nhiều.
              </div>
            </div>
          </div>
        </div>
        <div class="review-slider-item">
          <div class="info-wrap">
            <div class="info-avatar">
              <img data-src="/assets/latn/images/customer/khach-01_e9c37b79a11140d593b70e9be3283de4_769f21af0f274bb9bfc54e910d018a99_compact.webp"
                   class="card-img lazy"
                   alt="">
            </div>
            <div class="info-content">
              <div class="info-title">
                Anh Mr. Thư
              </div>
              <div class="info-desc">
                Từ ngày lắp hệ thống tưới tự động của Maka thì khu vườn của mình trở nên xanh tươi hơn nhờ cây được
                tưới nước đầy đủ mỗi ngày. Mình không cần phải mất thời gian tưới mà cây trong vườn vẫn phát triển
                bình thường. Cảm ơn Maka rất nhiều.
              </div>
            </div>
          </div>
        </div>
        <div class="review-slider-item">
          <div class="info-wrap">
            <div class="info-avatar">
              <img data-src="/assets/latn/images/customer/khach-01_e9c37b79a11140d593b70e9be3283de4_769f21af0f274bb9bfc54e910d018a99_compact.webp"
                   class="card-img lazy"
                   alt="">
            </div>
            <div class="info-content">
              <div class="info-title">
                Anh Mr. Thư
              </div>
              <div class="info-desc">
                Từ ngày lắp hệ thống tưới tự động của Maka thì khu vườn của mình trở nên xanh tươi hơn nhờ cây được
                tưới nước đầy đủ mỗi ngày. Mình không cần phải mất thời gian tưới mà cây trong vườn vẫn phát triển
                bình thường. Cảm ơn Maka rất nhiều.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
