<button class="btn btn-close js-close-toggleAside" type="button">ĐÓNG <i class="fas fa-times"></i></button>
<form class="input-group input-search">
  <input type="text" class="form-control" placeholder="Nhập từ khoá" aria-label="Text input with dropdown button">
  <div class="input-group-append">
    <button class="btn" type="button"><i class="fas fa-search"></i></button>
  </div>
</form>
<ul class="main-aside-nav">
  <li class="nav-item">
    <a class="nav-link">
      <i class="fa fa-home"></i>
      <span>Trang chủ</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <i class="far fa-comment"></i>
      <span>Giới thiệu</span>
    </a>
  </li>
  <li class="nav-item nav-item-has-sub">
    <a class="nav-link" data-toggle="collapse" href="#collapserTech" role="button" aria-expanded="false"
       aria-controls="collapserProduct">
      <i class="fas fa-microchip"></i>
      <span>Dịch vụ kỹ thuật</span>
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-chevron-up"></i>
    </a>
    <div class="collapse" id="collapserTech">
      <ul class="main-aside-navsub">
        <li><a class="nav-link" href="#">Tư vấn, thiết kế và thi công điện năng lượng mặt trời </a></li>
        <li><a class="nav-link" href="#">Tư vấn, thiết kế và thi công các công trình chiếu sáng dân dụng và
          công nghiệp</a></li>
        <li><a class="nav-link" href="#">Đồng hồ đo nhiệt độ</a></li>
        <li><a class="nav-link" href="#">THIẾT BỊ PHÂN TÍCH NƯỚC</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item nav-item-has-sub">
    <a class="nav-link" data-toggle="collapse" href="#collapserHealth" role="button" aria-expanded="false"
       aria-controls="collapserProduct">
      <i class="fas fa-heartbeat"></i>
      <span>Dịch vụ sức khỏe</span>
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-chevron-up"></i>
    </a>
    <div class="collapse" id="collapserHealth">
      <ul class="main-aside-navsub">
        <li><a class="nav-link" href="#">Tư vấn, thiết kế và thi công điện năng lượng mặt trời </a></li>
        <li><a class="nav-link" href="#">Tư vấn, thiết kế và thi công các công trình chiếu sáng dân dụng và
          công nghiệp</a></li>
        <li><a class="nav-link" href="#">Đồng hồ đo nhiệt độ</a></li>
        <li><a class="nav-link" href="#">THIẾT BỊ PHÂN TÍCH NƯỚC</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item nav-item-has-sub">
    <a class="nav-link" data-toggle="collapse" href="#collapserEdu" role="button" aria-expanded="false"
       aria-controls="collapserProduct">
      <i class="fas fa-shapes"></i>
      <span>Dịch vụ đào tạo</span>
      <i class="fas fa-chevron-down"></i>
      <i class="fas fa-chevron-up"></i>
    </a>
    <div class="collapse" id="collapserEdu">
      <ul class="main-aside-navsub">
        <li><a class="nav-link" href="#">Tư vấn, thiết kế và thi công điện năng lượng mặt trời </a></li>
        <li><a class="nav-link" href="#">Tư vấn, thiết kế và thi công các công trình chiếu sáng dân dụng và
          công nghiệp</a></li>
        <li><a class="nav-link" href="#">Đồng hồ đo nhiệt độ</a></li>
        <li><a class="nav-link" href="#">THIẾT BỊ PHÂN TÍCH NƯỚC</a></li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link">
      <i class="far fa-envelope"></i>
      <span>Liên hệ </span>
    </a>
  </li>
</ul>
